@charset "utf-8";
/*
VERSION:	dHome 1.0
AUTHOR:		Vera. zhangshixiang@cnic.cn / shivera2004@163.com
DATE:		Oct, 2012
*/

/* PullDown Main Menu */
.headerBar {
	background:#1D1D1D; padding:10px 40px 25px 0; 
	position:fixed; top:23px; left:0; right:0;
	z-index:100000; border-radius:0; margin:10px 0 0 0;
}
.headerBar li {float:left; list-style:none; margin-right:4px; margin-bottom:27px;}
.headerBar li a {padding:3px 0px; text-decoration:none;}
.headerBar .header-block {display:block; width:95px; height:50px; line-height:14px; border:1px solid #777;}
.headerBar .header-block:hover {border:1px solid #f90}
.headerBar .header-block .logo {background:url(../images/escience-middle-icon.png) 5px -10px no-repeat; width:100px; height:65px; display:block;}
.headerBar .header-block.escience {background:url("../images/escience-35-50.png") no-repeat scroll 20px 18px #DA8302}
.headerBar .header-block.escience .logo{background-position:5px 90px;}
/* .headerBar .header-block.dhome  {background:#3498DB;}
.headerBar .header-block.dhome .logo {background-position:10px -288px;}
.headerBar .header-block.ddl {background:#16A085;}
.headerBar .header-block.ddl .logo {background-position:10px -10px;}
.headerBar .header-block.csp {background:#F1C40F;}
.headerBar .header-block.csp .logo {background-position:10px -80px;}
.headerBar .header-block.rol {background:#1ABC9C;}
.headerBar .header-block.rol .logo {background-position:10px -150px;}
.headerBar .header-block.email {background:#0F5083;}
.headerBar .header-block.email .logo {background-position:10px -780px;}
.headerBar .header-block.nav {background:#8E44AD;}
.headerBar .header-block.nav .logo {background-position:10px -848px;}
.headerBar .header-block.vmt {background:#E67E22;}
.headerBar .header-block.vmt .logo {background-position:10px -920px;}
.headerBar .header-block.dchat {background:#7F8C8D;}
.headerBar .header-block.dchat .logo {background-position:10px -990px;}
.headerBar .header-block.cos {background:#BDC3C7;}
.headerBar .header-block.cos .logo {background-position:10px -1062px;} */
.headerBar .header-block.dhome {background:#4084C9;}
.headerBar .header-block.dhome .logo {background-position:10px -288px;}
.headerBar .header-block.ddl {background:#71AA00;}
.headerBar .header-block.ddl .logo {background-position:10px -10px;}
.headerBar .header-block.csp {background:#CC0033;}
.headerBar .header-block.csp .logo {background-position:10px -80px;}
.headerBar .header-block.dc {background:#640F6C;}
.headerBar .header-block.dc .logo {background-position:10px -153px;}
.headerBar .header-block.email {background:#0f5083;}
.headerBar .header-block.email .logo {background-position:10px -780px;}
.headerBar .header-block.nav {background:#ec008c;}
.headerBar .header-block.nav .logo {background-position:10px -848px;}
.headerBar .header-block.vmt {background:#099;}
.headerBar .header-block.vmt .logo {background-position:10px -920px;}
.headerBar .header-block.dchat {background:#0069a2;}
.headerBar .header-block.dchat .logo {background-position:10px -990px;}
.headerBar .header-block.cos {background:#F39C12;}
.headerBar .header-block.cos .logo {background-position:10px -1062px;}
.headerBar .header-block .header-text {
	display:block; color:#fff; text-align:center; 
	position:relative; top:-5px; font-size:13px;
}
.headerBar ul li {float:left; margin-right:40px;}

.headerBar#productList {
	position:static; background:#fff; overflow:hidden; 
	padding:10px; margin:10px; height:105px;
}