@charset "utf-8";
/*
VERSION:	dHome 2.0
AUTHOR:		Vera. zhangshixiang@cstnet.cn / shivera2004@163.com
DATE:		December, 2014
*/

/* OverAll */
.ins_backend_leftMenu {
	width:230px; float:left;
	background:#08a;position:relative; z-index:2;
}
.ins_backend_iap {
	width:220px; float:left; margin-right:8px; 
	border:1px solid #AED2D9; background:#fff;
}
.ins_backend_iap .insti-img {margin:10px auto; text-align:center;}
.ins_backend_iap .insti-img > a  {border:1px solid #ddd; display:inline-block;}
.ins_backend_iap .insti-img > a > img {border:3px solid #fff;}
.ins_backend_iap p {margin:10px; line-height:2em;}
.ins_backend_iap p.insti-info {
	 text-indent:2em; 
	text-align:justify; text-justify:auto; color:#666;
}
.ins_backend_iap p.admin {
	font-size:12px; text-align:center
}
.ins_backend_iap p.admin a {margin-right:10px;}
.ins_backend_leftMenu ul {
	list-style:none; padding:0; margin:0;
	border:1px solid #AED2D9; border-right:none;
}
.ins_backend_leftMenu ul li {padding:0; margin:0;}
.ins_backend_leftMenu ul li a {
	background:#08a; border-bottom:1px dotted #ddd;
	display:block; color:#fff; font-sizze:16px; padding:15px 15px; font-family:Arial,"微软雅黑";
	vertical-align:middle; height:22px; line-height:22px;
}
.ins_backend_leftMenu ul li a:hover,
	.ins_backend_leftMenu ul li.active a {background:#fff; color:#08a; text-decoration:none;}
.ins_backend_leftMenu ul li a span.title {font-size:18px;}
.ins_backend_leftMenu ul li a span.count {float:right;}
.ins_backend_rightContent {
	float:left; padding:10px; width:720px; min-height:615px;
	background:#fff; border:1px solid #AED2D9; margin-left:-1px;
}
.ins_backend_rightContent .nav.nav-pills {font-size:12px;}
.span9 .ins_backend_rightContent{
	width:100%; border:none; margin:0;
}
.ins_backend_rightContent .batch {overflow:hidden; margin-bottom:10px;}
.ins_backend_rightContent .batch ul {margin:0; padding:0; list-style:none; overflow:hidden; clear:both;}
.ins_backend_rightContent .batch ul li {margin:10px 10px 0 0; padding:3px 10px; background:#eef; border:1px solid #dde; font-size:13px;  border-radius:5px; float:left; min-width:50px;}
.ins_backend_rightContent .batch ul li[data-years="0"] {text-align:center; width:30px;}
.ins_backend_rightContent .batch ul li.active,
	.ins_backend_rightContent .batch ul li:hover {background:#dde}
.ins_backend_rightContent .batch ul li a {text-decoration:none;}
.ins_backend_rightContent .batch ul li span.count {float:right; color:#999;}
.ins_backend_rightContent .batch .rightPage {display:inline-block; float:right; margin-top:10px;}
.ins_backend_rightContent .batch .rightPage select{width:80px; margin-top:6px;}
.ins_backend_rightContent .batch .oper {float:left;}
.ins_backend_rightContent .batch .filter {/* float:right; margin-top:5px; */}
.ins_backend_rightContent .batch .filter ul li {background:#fff; width:105px; border:1px solid #fff;}
.ins_backend_rightContent .batch .filter ul li.active,
	.ins_backend_rightContent .batch .filter ul li:hover {background:#efe; border:1px solid #eee;}
.ins_backend_rightContent .batch .filter ul li.active a,
	.ins_backend_rightContent .batch .filter ul li:hover a {color:#666;}
.ins_backend_rightContent .batch .filter ul li a i.icon {filter:opacity(alapha=40); opacity:0.4}
.ins_backend_rightContent .batch select {font-size:13px; margin-top:13px;}

.ins_backend_rightContent .batch .filterDetail {font-size:13px; overflow:hidden}
.ins_backend_rightContent .batch .filterDetail p.total {background:#dff0d8; margin:10px 0; line-height:30px; padding:5px 10px; color:#3c763d; font-size:14px;}
.ins_backend_rightContent .batch .filterDetail p.total span {margin-right:10px; font-weight:bold;}
.ins_backend_rightContent .batch .filterDetail .leftTitle {width:15%; text-align:right; float:left; padding-top:2px;}
.ins_backend_rightContent .batch .filterDetail .rightDetail {float:left; width:85%;}
.ins_backend_rightContent .batch .filterDetail .rightDetail .custom {display:inline-block; line-height:30px; margin:0px; float:left;}
.ins_backend_rightContent .batch .filterDetail .rightDetail .custom > input {width:50px; height:15px;}
.ins_backend_rightContent .batch .filterDetail .rightDetail .custom > a.btn {margin-left:10px; margin-bottom:9px;}
.ins_backend_rightContent .batch .filterDetail .rightDetail .custom  > span {display:inline-block; line-height:30px; height:30px; margin:0 3px;}
.ins_backend_rightContent .batch .filterDetail .rightDetail ul {display:inline-block; float:left;}
.ins_backend_rightContent .batch .filterDetail .rightDetail ul li {margin-top:0;}

.addExcelMember {padding:20px; line-height:2em;}
.addExcelMember .subHint {color:#999; font-size:13px; margin-top:20px;}
.rightFloat {float:right;}

ul.listShow {margin:0; padding:0; list-style:none;}
ul.listShow li {margin:0; padding:0; border-bottom:1px dotted #ddd; overflow:hidden;}
ul.listShow li.title,ul.listShow li.title:hover {background:whitesmoke;border:1px solid #eee;}
ul.listShow li > span {display:table-cell; vertical-align:middle; padding:8px; font-size:13px; word-break:break-all;}
ul.listShow li.title span {font-weight:bold; font-size:14px;}
ul.listShow li span.check {width:20px;}
ul.listShow li span.employee {width:330px;}
ul.listShow li span.employee a.left {border:none; display:block; float:left;}
ul.listShow li span.employee a.left img {width:50px; height:50px; border:1px solid #ccc; margin-top:4px;}
ul.listShow li span.employee span.right {border:none; display:inline-block; margin-left:10px;}
ul.listShow li span.employee span.right span {border:none; padding:0;}
ul.listShow li span.employee span.right .name {font-weight:bold; font-size:14px; color:#333;}
ul.listShow li span.employee span.right .mail {color:#666; font-size:12px; display:block; }
ul.listShow li span.employee span.right .dhome {display:inlin-block; float:left; margin-right:10px;} 
ul.listShow li span.employee span.right .manage {float:left; visibility:hidden;}
ul.listShow li span.employee span.right .manage a.label {font-weight:normal;}
ul.listShow li span.department {width:80px;text-align:center}
ul.listShow li span.pro-title {width:100px;}
ul.listShow li span.status {}

ul.listShow li span.achievementName {width:200px;}
ul.listShow li span.institutions{width:100px;}
ul.listShow li span.awardName{width:200px;}
ul.listShow li span.category{width:100px;}
ul.listShow li span.level{width:100px;}
          
ul.listShow li span.article{width:380px;}
ul.listShow li span.article .title {font-weight:bold; font-size:13px; color:#444;}
ul.listShow li span.article .detail {color:#777; display:block;}
ul.listShow li span.article > a {margin-right:5px;}
ul.listShow li span.article .manage {visibility:hidden;}
ul.listShow li span.article .summaryDiv {padding:5px; background:#ffe; border:1px solid #ddd; border-radius:4px; margin-top:5px;}
ul.listShow li span.author {width:160px;}
ul.listShow li span.author ul {list-style:none; margin:0; padding:0}
ul.listShow li span.author ul li {float:left; border:none; margin:5px 10px 0 0; padding:0;}
ul.listShow li span.author ul li sup {color:#999; top:-5px;}
ul.listShow li span.quot {text-align:center; width:60px;}
ul.listShow li span.inTime{width:100px;}
ul.listShow li span.supervisor,
	ul.listShow li span.degree,
	ul.listShow li span.status{width:80px;}

ul.listShow.topic li span.name {width:230px;}
ul.listShow.topic li span.source {width:100px}
ul.listShow.topic li span.type {width:80px}
ul.listShow.topic li span.member {width:200px;}
ul.listShow.topic li span.member ul {margin:0; padding:0}
ul.listShow.topic li span.member ul li {border:none; float:left; margin-right:8px;}
ul.listShow.topic li span.member ul li sup {color:#999; top:0;}
ul.listShow.topic li span.role {}

ul.listShow.patent li span.title {width:350px;}
ul.listShow.patent li span.category {width:120px}
ul.listShow.patent li span.grade {}

ul.listShow.student li span.name {width:250px;}
ul.listShow.student li span.name .country {color:#999;}
ul.listShow.student li span.name img {width:50px; height:50px;}
ul.listShow.student li span.inTime {width:120px}
ul.listShow.student li span.supervisor {width:80px}
ul.listShow.student li span.degree {width:80px}
ul.listShow.student li span.status {}

ul.listShow.grant li > span {padding:8px 3px; text-align:center}
ul.listShow.grant li span.largeNum {width:300px;}
ul.listShow.grant li span.name {width:60px;}
ul.listShow.grant li span.num {width:60px;}
ul.listShow.grant li span.class {width:60px;}
ul.listShow.grant li span.degree {width:60px;}
ul.listShow.grant li span.bonus {width:120px;}
ul.listShow.grant li span.bonus .normal {font-weight:normal; font-size:13px;}
ul.listShow.grant li span.total {width:80px;}
ul.listShow.grant li span.time {width:100px}
ul.listShow.grant li span.oper,
	ul.listShow.grant li span.supervisor {width:60px;}

ul.listShow.grant.sixCol li span.num {width:100px;}
ul.listShow.grant.sixCol li span.bonus {width:120px;}
ul.listShow.grant.sixCol li span.total {width:100px;}
ul.listShow.grant.sixCol li span.time {width:200px;}
ul.listShow.grant.sixCol li span.oper {width:100px;}


ul.listShow li span.treatiseName {width:400px;}
ul.listShow li span.publisher{width:300px;}
ul.listShow li span.author{}

ul.listShow li span.orgname,
	ul.listShow li span.pername {width:280px;}
ul.listShow li span.position{width:80px;}
ul.listShow li span.author{width:150px;}
ul.listShow li span.time{}

.red {color:#f00}
p.notFind {color:#666; margin:5px 0;}
p.hint {color:#666;}

ul.listShow li:hover {background:#eef; cursor:pointer;}
ul.listShow li:hover span.employee span.right .manage {float:left; visibility:visible;}
ul.listShow li:hover span.article .manage,
	ul.listShow li:hover span.achievementName .manage {visibility:visible;}
ul.listShow li span .manage {visibility:hidden;}
ul.listShow li:hover span .manage {visibility:visible;}

ul.listShow.setting {margin:20px}
ul.listShow.setting li span.title {font-size:14px; }
ul.listShow.setting li span.oper {float:right;}
ul.listShow.setting li:hover {background:none;}

h4.detail {font-family:Arial,"微软雅黑"; font-size:18px; font-weight:normal; border-bottom:1px solid #ddd; padding:0 10px 8px}
h4.detail #paper-desc {font-size:13px; margin-left:20px;}
h4.detail.sub {border:none; color:#666; padding-bottom:3px;margin-top:30px;}
h4.detail p.subManage {font-size:13px; color:#666; margin:10px 0; line-height:1.5em;}
h4.detail p.subManage .citation {line-height:2em; vertical-align:top}
h4.detail span.name {margin:0 10px 0 18px;}
h4.detail span.major,
	h4.detail span.degree {color:#666;font-size:14px;}
p.msg {text-align:center; color:#ccc; font-size:20px; margin:20px auto;}
p.p_add {text-align:center;margin-top:30px;}
.subText {line-height:3em;}

.sub-author label{font-size:13px; display:inline-block; float:left; margin-right:10px;}
.sub-author label input {margin:15px 2px 18px 0px}
.sub-author span.sub-hint {color:#999;}
.subNav {margin-top:25px; padding:0 15px;}

ul.popAuthor {list-style:none; padding:0; margin:0; font-size:12px;color:#888}

ul#authorTable {margin-top:30px; list-style:none; margin:0 0 0 80px; padding:0 5px; background:#eef; border:1px solid #ddd; border-radius:4px;}
ul#authorTable li {border-bottom:1px dotted #ccc; padding:7px 0;}
ul#authorTable li > span {font-size:13px; display:inline-block; margin-right:5px;}
ul#authorTable li span.order {width:85px;}
ul#authorTable li span.author {width:380px; font-weight:bold; color:#08a;}
ul#authorTable li span.author.large {width:445px;}
ul#authorTable li span.mail {color:#666; font-size:12px; word-break:break-all;font-weight:normal;}
ul#authorTable li span.company {font-weight:normal; color:#333;}
ul#authorTable li span.comAuthor{color:#777}
ul#authorTable li span.student{color:#777}
ul#authorTable li span.supervisor{color:#777}
ul#authorTable li span.oper{}

table#authorTable {margin:10px 0 0 70px; border-radius:4px; border-collapse:separate; width:640px}
table#authorTable td {background:#eef; border:none; border-bottom:1px dotted #ccc;}
table#authorTable td.order {width:115px;}
table#authorTable td.author {width:440px;font-weight:bold; color:#08a;}
table#authorTable td.author span.mail {color:#666; font-size:12px; word-break:break-all;font-weight:normal;}
table#authorTable td.author span.company {font-weight:normal; color:#333;}
table#authorTable.fiveCol thead th.num,
	table#authorTable.fiveCol thead th.role {width:60px;}
table#authorTable.fiveCol thead th.name {width:60px;}
table#authorTable.fiveCol thead th.mail {width:170px;}
table#authorTable.fiveCol thead th.unit {width:100px}

/* member */
h4.member_title {
 	font-family:Arial,"微软雅黑"; font-weight:normal; margin:15px 10px; 
 	font-size:14px; background:#eef; padding:5px 10px;
}
table.member {margin:10px; width:95%}
table.member th,table.member td {border:none;}
table.member th {text-align:right; width:100px;}
table.member td {width:150px;}

p.students {}
p.students span {display:inline-block; margin-right:10px;}
p.students span > input[type='radio'] {margin-bottom:5px; margin-right:5px;}
input[name="endTime"],input[name="startTime"]{cursor:pointer;}

ul.memberDetail {list-style:none; margin-top:15px; }
ul.memberDetail li {border-bottom:1px dotted #ddd; margin:5px 5px 20px 5px; padding:10px 0; line-height:2em;}
ul.memberDetail li > span {display:inline-block; margin-right:10px;}
ul.memberDetail li span.time{width: 150px;}
ul.memberDetail li span.ins{font-weight:bold; color:#08a; width: 250px;}
ul.memberDetail li span.position {width:250px;}
ul.memberDetail li span.degree{font-size:13px;}
ul.memberDetail li span.degree .degree2 {color:#777;font-size:13px;}
ul.memberDetail li span.department{width: 415px;font-size:13px;}
ul.memberDetail li span.tutor{width: 120px;font-size:13px;}
ul.memberDetail li span.artical{width: 415px;font-size:13px;}


table#table tr td,
	table#table thead th {word-break:break-all}
table#table tr td{font-size:13px;vertical-align:middle; text-align:center;}
table#table thead th {background:#eef;text-align:center;}
table#paperTable thead th {background:#eef;text-align:center;}
table#paperTable tr td,
table#paperTable thead th {word-break:break-all}
table#paperTable tr td span.article .title {font-weight:bold; font-size:13px; color:#444;}
table#paperTable tr td span.article .detail {color:#777; display:block;}
table#paperTable tr td span.article > a {margin-right:5px;}

table#table thead th.treatiseName {width:250px;}
table#table thead th.publisher,
	table#table thead th.achievementName,
	table#table thead th.awardName {width:150px;}
table#table thead th.institutions,
	table#table thead th.category {width:100px;}
table#table thead th.degree,
	table#table thead th.time,
	table#table thead th.operate,
	table#table thead th.level {width:80px;}
table#table thead th.num {width:60px;}


/*pages*/
.ins_backend_rightContent .pages {margin-top:20px; text-align:center;}
.ins_backend_rightContent .pages a {display:inline-block; padding:3px 10px; border:1px solid #ddd; cursor:pointer; color:#666; text-decoration:none;}
.ins_backend_rightContent .pages a.active {background:#f6f6ff; border:1px solid #08a; font-weight:bold; color:#08a;}
.ins_backend_rightContent .pages a.disable {color:#ddd;}
.ins_backend_rightContent .pages a i.prev-triggle {
	display: inline-block;
	width: 0;
	height: 0;
	line-height: 0;
	font-size: 0;
	border-width:5px;
	border-style:dashed solid dashed dashed;
	border-color:transparent #08a transparent transparent;
	margin-right:4px;
}
.ins_backend_rightContent .pages a i.next-triggle {
	display: inline-block;
	width: 0;
	height: 0;
	line-height: 0;
	font-size: 0;
	border-width:5px;
	border-style:dashed dashed dashed solid;
	border-color:transparent transparent transparent #08a;
	margin-left:4px;
}

table#clbTable {font-size:12px;}

/*pandect index*/
ul.pandect.clearfix { display: inline-block;}  /* for IE/Mac */ 
ul.pandect.clearfix:after {
	content: ".";
	display: block;
	height: 0;
	clear: both;
	visibility: hidden;
}

ul.pandect li {
	width:100px; float:left; background:#f5f5f5; border:1px solid #fff;
	padding:10px; overflow:hidden;
}
ul.pandect li h4 {
	font-family: Arial, "微软雅黑";
	font-size: 16px;
	font-weight:normal;
	color:#666;
}
ul.pandect li span.count{
	font-family: Arial, "微软雅黑";
	font-size: 18px;
	margin:10px 0 0 0;
	color:#666;
}
ul.pandect li.member {background: #C3BED4;}
ul.pandect li.paper {background: #ABE0FF;}
ul.pandect li.treatise {background: #FFDEAA;}
ul.pandect li.award {background: #D4ECB8;}
ul.pandect li.copyright {background: #AEBFBC;}
ul.pandect li.patent {background: #AFC088;}
ul.pandect li.topic {background: #F29F8C;}
ul.pandect li.academic {background: #CCCCFF;}
ul.pandect li.periodical {background: #D4CDC9;}
ul.pandect li.training {background: #ABD6E0;}

.pie{
    width: 630px;
	float: left;
	overflow: hidden;
	margin: auto;
	margin-left: 15px;
}
.pie .pieTitle {text-align:center; margin-top:-15px; font-size:13px; color:#777;}

/*userToAuthor and authorrToUser*/
.userToAuthor {background:#ffe; border:2px solid #eec; margin:20px 0 10px; padding:10px; font-size:12px;}
.userToAuthor p.bigFont {font-size:14px; line-height:2.5em;}
.form-horizontal .userToAuthor .control-group {margin-bottom:5px;}
.form-horizontal .userToAuthor .control-label {font-size:12px;}
.userToAuthor ul#authorTable {margin:20px 0; display:none;}
.userToAuthor span.hint {color:#999}
.color-ok {color:#090; font-weight:bold; }
.color-ok.big {font-size:24px;}
.color-wrong {color:#a00; font-weight:bold;}
p.authorHere {margin:20px 0 10px;}
p#chooseUser {display:none;}
input#userSearch[name="authorUser"] {width:388px; }
.more-artical.dhome2, .more-page.dhome2 {background:#fff; border:none; color:#999; font-size:16px; }

.page-header h3 .publish.source {display:inline-block; margin-left:10px; color:#666;}
.page-header h3 .publish.source input[type="radio"] {margin-bottom:6px; margin-left:8px;}

/*backendBanner*/
.navbar-inner.iap {min-height:60px; line-height:40px;}
.navbar-inner.iap .container {width:980px;}
.navbar-inner.iap .brand {font-weight:bold; font-family:Arial,"微软雅黑"}
.navbar-inner.iap span.iap-logo {display:inline-block; float:left; background:url(../images/iap-40.png) 0px 10px no-repeat; width:60px; height:60px;}
.navbar-inner.iap .nav.pull-right {margin-top:10px; font-size:14px;}

/*first page*/
.iap .navbar-inner.iap {background:#08a} 
.iap .navbar-inner.iap .brand {color:#fff;}
.iap .navbar-inner.iap .nav.pull-right > li > a {color:#fff;}

/*commonPaper and IAPPaper*/
ol.commonPaper,ol#IAPPapers {font-size:12px;}
ol.commonPaper li,ol#IAPPapers li {line-height:2em; margin-bottom:10px;}
ol.commonPaper li .paper-title,ol#IAPPapers li .title {font-size:14px;color:#333;}

/*applyList*/
ul.applyList {list-style-type:circle; list-style-position:inside; font-size:13px;}
ul.applyList li {border-bottom:1px dotted #ccc; padding:8px 10px;}
ul.applyList li span.institutionZhName {color:#08a; font-weight:bold;}
ul.applyList li span.time {color:#999; display:inline-block; margin-right:2em;}
ul.applyList li span.position .icon-trash,
	ul.applyList li span.position .icon-edit {opacity:1; filter:alpha(opacity=100)}
.applyDiv {margin:10px;}
.applyDiv.applyAuto {background:#f7f7f7; padding:0 10px; font-size:13px; color:#999}
.applyDiv.applyAuto ul {margin:0; padding:0; list-style:none;}
.applyDiv u.underLine {display:inline-block; color:#999; margin:0 5px;}

.summary-content.search {padding:10px 0; border:1px solid #ddd; margin:35px 0 15px 0; background:#f7f7f7;}

/*changed from bootstrap*/
.nav-tabs {margin-bottom:5px;}
.nav-tabs > li > a {font-size:14px;}
.nav-tabs>.active>a, .nav-tabs>.active>a:hover {cursor:pointer}
.nav-tabs.member > li > a{padding-left:4px; padding-right:4px;}
.form-horizontal .controls.padding {padding-top:5px;}
.form-horizontal.grant .control-label {width:220px;}
.form-horizontal.grant .controls {margin-left:240px;}
.form-horizontal#editAuthorForm .controls.padding {padding-top:5px; font-size:14px;}
form#editForm.form-horizontal.nomargin {margin-bottom:0; padding-bottom:0;}
form.form-horizontal {margin-bottom:0px;}
.nav-tabs>li.search {float:right}
.nav-tabs>li.search form {margin-bottom:0}
form#editForm ul.token-input-list-facebook {clear:none}
form#editForm .register-xlarge,
	form#paperForm .register-xlarge,
	form#topicForm .register-xlarge,
	form[name="search-paper-form"] .register-xlarge {width:388px;}
form#editForm .register-xsmall {width:70px}